<div class="container">
      <div class="header">
          <h1>Navoiy Davlat Konchilik Instituti EMF Fakulteti</h1>
      </div>
      <div  id = "{{faculty}}" class="wrapper">
          <div  class="photoBox">
              {{!-- <div id="photo"></div> --}}
              <img id="photo" src="./img/done/badge_{{img}}.jpg" alt="portrait" class="portrait" />
              <img src="./img/herb.png" alt="herb" class="herb"/>
          </div>
          <div class="nameBox">
              <h2 id="surname"> {{surname}} </h2>
              <h2 id="name"> {{name}} </h2>
          </div>
          <div class="groupBox">
              <h3 id="group"> {{group}} </h3>
          </div>
      </div>
  </div>